<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>My Watchlist</title>
</head>
<body>
    <h2>My Movie Watchlist</h2>
    <a href="{{ url_for('movies.create') }}" > + Add new movie</a>
    <div class="movie-grid">
    {% for movie in movies %}
    <div class="movie-card">
        <div>
            <div>
                <h5>{{ movie['title'] }}</h5>
                <h6>{{ movie['genre'] }} • {{ movie['release_year'] }}</h6>
                <p>
                    Rating: 
                    {% if movie['rating'] %}
                        {% for i in range(movie['rating'] | int) %}
                            <span style="color: #f39c12;">★</span>
                        {% endfor %}
                    {% else %}
                        <span>No rating yet</span>
                    {% endif %}
                </p>
                <p>{{ movie['notes'] }}</p>
                
                <span>{{ movie['status'] }}</span>
            </div>
            <div>
                <form action="{{ url_for('movies.delete', movie_id=movie.id) }}" method="POST">
                    <button type=" submit" onclick="return confirm('Are you sure want to delete this movie?')">
                        Delete
                    </button>
                </form>
                <a href="/movies/view/{{ movie['id'] }}">View</a>
                <a href="/movies/edit/{{ movie['id'] }}">Edit</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</body>
</html>